.img-slide{
    height: 100%;
    border: none;
}
.box-slide{
    overflow: hidden;
    border: none;
    width: 100%;
    height: 90vh;
}
.title-box{
    margin-top: 90px;
    margin-bottom: 50px;
}
.card-item{
    width: 100%;
}
footer{
    margin-top: 90px;
    overflow: hidden;
}
.footer-title{
    padding: 20px;
    background-color: gray;
    color: white;
}